{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Home / {{ user }}</title>
{% endblock %}


{% block content %}

    <h4 class="text-center">Welcome to home page <span class="text-info">{{ user.email }}</span></h4>
    <div class="text-center"><a href="{% url 'logout' %}" class="text-danger h5">Logout</a></div>
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }} container w-25 p-5 my-4 text-center">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}


{% endblock %}