{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Reset / </title>
{% endblock %}


{% block content %}

    <style>
        .rp-form {
            width: 450px;
        }

        @media screen and (max-width: 450px){
            .rp-form {
                width: 95%;
            }
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }} container  rp-form py-3 text-center my-2 ">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    <form action="" method="POST" class="container rp-form  my-5">{% csrf_token %}
        {% for field in form %}

            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <strong>{{ field.label_tag }}</strong>
                {{ field }}
            </div>
        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Reset password" class="btn btn-block btn-primary">
        </div>
    </form>
{% endblock %}