{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Reset password / </title>
{% endblock %}


{% block content %}

    <style>
        .rp-form {
            width: 450px;
        }

        @media screen and (max-width: 450px){
            .rp-form {
                width: 95%;
            }
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }} container rp-form py-3 text-center my-2 ">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    <form action="{% url 'reset-password' %}" method="POST" class="container rp-form my-5">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <strong>{{ field.label_tag }}</strong>
                {{ field }}
            </div>
        {% endfor %}
        <div class="text-center">
            <input type="submit" value="Send" class="btn btn-block btn-primary">
        </div>
    </form>
{% endblock %}