{% extends 'core/layout/base.html' %}

{% block title %}
    <title>Logout / </title>
{% endblock %}

{% block content %}
    <h1 class="display-5 text-center">You're successfully logout :)</h1>
{% endblock %}